# Maven build output
target/
!target/classes/config/google/
target/classes/config/google/credentials.json

# Java
*.class
*.jar
*.war
*.ear

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Credenciales sensibles
src/main/resources/config/google/credentials.json